.welcome-card img {
  max-height: 35vh;
  overflow: hidden;
}


rating {
  ion-icon {
    color: gray;

    &.filled {
      color: #ffb400;
    }
  }
}

#map_canvas {
  height: 100% !important;
  width: 100% !important;
  top: 0;
  left: 0;
  position: absolute;
 }


app-home {
  ion-bottom-drawer{
    background: none !important;
  }
  
  ion-bottom-drawer ion-content {
    background: rgba(0,0,0,0.1) !important;
  }

   
}





ion-bottom-drawer ion-card ion-content{
  box-shadow: 0px -2px rgba(0,0,0,0.2);
  border-radius: 10px;
}

