<ion-header>
  <ion-toolbar color="hassan">
    <ion-buttons slot="start">
      <ion-menu-button color="light"></ion-menu-button>
    </ion-buttons>
    <ion-title color="light">
      جوَدها
    </ion-title>
  </ion-toolbar>
  <ion-toolbar color="hassan">
    <ion-searchbar
      type="text"
      debounce="500"
      showCancelButton="never"
      color="light"
    ></ion-searchbar>
  </ion-toolbar>
  <ion-segment color="hassan" (ionChange)="segmentChanged($event)">
    <ion-segment-button value="map" checked>
      <ion-icon name="map" color="light"></ion-icon>
    </ion-segment-button>
    <ion-segment-button value="list">
      <ion-icon name="list" color="light"></ion-icon>
    </ion-segment-button>
  </ion-segment>
</ion-header>

<ion-content no-bounce>
  <ion-refresher
    slot="fixed"
    (ionRefresh)="doRefresh($event)"
    *ngIf="segmentValue == 'list'"
  >
    <ion-refresher-content
      pullingIcon="arrow-dropdown"
      pullingText="Pull to refresh"
      refreshingSpinner="circles"
    >
    </ion-refresher-content>
  </ion-refresher>

  <div
    id="map_canvas"
    [style.display]="segmentValue == 'map' ? 'block' : 'none'"
  ></div>
  <ion-list *ngIf="segmentValue == 'list'">
    <ion-item *ngFor="let item of items" (click)="openAddPage({ place: item })">
      <ion-thumbnail class="imglist" slot="start">
        <img [src]="item.photos[0]" />
      </ion-thumbnail>
      <ion-label>
        <h2>
          <ion-text>{{ item.name }}</ion-text>
        </h2>
        <p [innerHTML]="item.description"></p>
        <p>
          <ion-text>{{ item.category }}</ion-text>
        </p>
      </ion-label>
    </ion-item>
  </ion-list>
</ion-content>

<ion-bottom-drawer
  [style.display]="segmentValue == 'map' ? 'block' : 'none'"
  [(state)]="state"
  [shouldBounce]="shouldBounce"
  [dockedHeight]="dockedHeight"
  [minimumHeight]="minimumHeight"
  [distanceTop]="topDistance"
>
  <div class="drawer-content">
    <div class="slider-banner" *ngIf="this.state === 2">
      <ion-slides
        no-margin
        pager="true"
        loop="true"
        *ngIf="mapPlace"
        slidesPerView="1"
        autoplay="2000"
        speed="500"
      >
        <ion-slide
          *ngFor="let photo of mapPlace.photos; let j = index"
          class="slide"
        >
          <img class="slider-image" no-padding src="{{ photo }}" />
        </ion-slide>
      </ion-slides>
    </div>

    <div>
      <ion-item>
        <ion-label *ngIf="mapPlace">
          <h2 text-right>
            <ion-text>{{ mapPlace.name }}</ion-text>
          </h2>
          <h2 text-left><ion-text>155</ion-text></h2>
          <p [innerHTML]="mapPlace.description"></p>
        </ion-label>
      </ion-item>
    </div>
  </div>
</ion-bottom-drawer>
