// App Styles
// ----------------------------------------------------------------------------
// Put style rules here that you want to apply to the entire application. These 
// styles are for the entire app and not just one component. Additionally, this 
// file can hold Sass mixins, functions, and placeholder classes to be imported 
// and used throughout the application.
.toolbar-title {
    text-overflow: unset;
    white-space: unset;
 }

* {
    direction: rtl;
}
.my-custom-menu {
    --width: 200px;
  }


  ion-segment{
    height: 44px;
    margin-top: 0px !important;
    color:#fff;
    background-color: #FF6B2C;
}

ion-segment-button{
    font-size: 16px;
    color: #fff;
    border: 0px;
    border-radius: 0px;
}

.segment-button-checked{
    background: #FFF;
    color: var(--ion-color-light);
    border-bottom: 3px solid var(--ion-color-light);
}

.hussan-item {
    background: #fff;
    margin-bottom: 20px;
}
.hussan-title {
    color: #FF6B2C;
    font-size: 16px;
}